{% extends 'base.html' %}

{% block content %}
    <h2>Добавить текст песни</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.artist.label }} {{ form.artist(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.lyrics.label }} {{ form.lyrics(class="form-control", rows="10") }}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}
