{% extends "base.html" %}

{% block content %}
<div class="new-releases">
    <h2 class="text-center mb-4">НОВИНКИ</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="track-card">
                <div class="track-title">ЗЛОЙ ЖОРА</div>
                <div class="track-artist">TOXIS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="track-card">
                <div class="track-title">ПЕСНЯ ПРО БРАТВУ</div>
                <div class="track-artist">MAKAN</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="track-card">
                <div class="track-title">ФИН</div>
                <div class="track-artist">ИГРАЮЩИЙ МАЛЬЧИК КАРТИ</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}